<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @body %> in admin</h1>
    <% if false %>
     <div class="one">123</div>
    <% else %>
     <div class="two">something else</div>
    <% end %>


  </body>
</html>
